@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: currentColor;
}

a:hover{
    color: currentColor;
}

/* Menu */
header{
    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}

header .container-fluid{
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:992px){
    header .container-fluid{
        padding: 0 5%;
    }
}

header .navb-logo img{
    height: 66px;
}

header .navb-items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item{
    text-align: center;
    margin-inline: 10%;
    font-size: 20px;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #274d8a;
    border-top: 0px solid #274d8a;
    cursor: pointer;
}

header .item:hover{
    border-bottom: 3px solid #274d8a;
    border-top: 3px solid #274d8a;
}

header .item-button a{
    background-color: #274d8a;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all .5s ease;
}

header .item-button a:hover{
    font-size: 18px;
}

header .mobile-toggler{
    font-size: 30px;
}

/* Menu Mobile */
#navbModal .modal-dialog{
    margin: 0;
    width: 430px;
}

@media(max-width: 450px){
    #navbModal .modal-dialog{
        width: 82%;
    }
}

#navbModal .modal-content{
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #102447;
}

#navbModal .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    margin-top: 20px;
    border-bottom: none;
}

#navbModal .modal-header img{
    width: 140px;
    height: 66px;
    margin-top: 17.5px;
}

#navbModal .modal-header .btn-close{
    background: transparent;
    opacity: 1;
}

#navbModal .modal-header i{
    color: #fefefe;
    font-size: 30px;
}

#navbModal .modal-body{
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

#navbModal .modal-body .modal-line{
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color: #274d8a;
    border-bottom: 1px solid #274d8a;
}

#navbModal .modal-body .modal-line:hover{
    color: #fefefe;
    border-bottom: 1px solid #fefefe;
}

#navbModal .modal-line a{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #fefefe;
}

#navbModal .modal-line i{
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-button{
    width: 100%;
    height: 47px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #102447;
    letter-spacing: 2px;
    transition: all .5s ease;
}

.navb-button:hover{
    background-color: #274d8a;
    color: #fefefe;
}

#navbModal .mobile-modal-footer{
    width: 87%;
    margin: 0 auto;
    padding: 10% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: #274d8a;
}

#navbModal .mobile-modal-footer i:hover{
    color: #fefefe;
}
header i{
    font-size: 30px;
}

/* Catalogo */
.catalogo{
    display: inline-block;
    padding: 0% 20%;
    margin: 3% 0%;
}
.catalogo .card{
    border: solid 1px #0e2f64;
}
.catalogo .card .card-footer{
    border-top: solid 1px #0e2f64;
}
.catalogo .card .card-footer button{
    font-weight: 800;
}
.catalogo .card .card-footer button:hover{
    font-weight: 400;
}
.catalogo .card .card-body p{
    max-height: 50px;
    max-width: 300px;
    display: -webkit-box;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.catalogo .card .card-body{
padding: 4%;
}
.catalogo a{
    cursor: pointer;
}

.catalogo .card-footer{
    text-align: end;
}
.catalogo h2{
    text-align: left;
    padding-bottom: 2%;
}


/* Footer */
.tituloFooter{
    min-width: 140px;
}
@media(max-width:475px){
    .footerCol{
        padding-left: 9%;
    }
}

.footer i{
    font-size: 25px;
    color: grey;
}
.footer i:hover{
    color: whitesmoke;
}

footer a,footer p{
    font-size: 14px;
    color: grey;
}

footer h6{
    font-size: 20px;
    color: grey;
}

footer p a:hover{
    color: #fff;
}
footer .contacto p{
    margin-bottom: 0;
}

/* Home */
/* Imagen principal con titulo */
.primeraSection{
    height: 100vh;
    background-image: url(img/imagen.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
.primeraSection h1, .primeraSection h2,.primeraSection i{
    color:#fff;
}
.primeraSection h1{
    padding-top: 20%;
    font-size: 70px;
    font-weight: 700;
}
.primeraSection i{
    font-size: 100px;
}

/* Servicios, Nosotros, Numeros Institucionales, Marcas y Contacto*/
.servicios{
    overflow: hidden;
    padding: 7% 20%;
}
.servicios .card-body, .nosotros .card-body{
    background-color:  rgb(237, 239, 240);
}
.servicios .card, .nosotros .card, .numerosInstitucionales .card{
    border: none;
}
.servicios h3, .nosotros h3,.marcas h3,.contacto h3{
    font-size: 40px;
}
.separador{
    height: 5px;
    width: 10%;
    background-color: #0e2f64;
    margin-left: 45%;
    margin-bottom: 5%;
}
.nosotros .card-body{
    height: 100%;
}
.nosotros .imagen{
    background-image: url(img/nosotros.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
.numerosInstitucionales .card-body{
    background-color: #274d8a;
}
.numerosInstitucionales h4{
    font-size: 50px;
    color: #fff;
}
.numerosInstitucionales p{
    color: #fff;
}
.numerosInstitucionales h6{
    font-size: 25px;
}
.numerosInstitucionales .card-group{
    width: 95%;
    padding-left: 5%;
}
.numerosInstitucionales{
    background-color: #0e2f64;
}
.marcas img{
    filter: grayscale(100%)
}
.marcas img:hover{
    filter: none
}